apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: 675264288819.dkr.ecr.ap-south-1.amazonaws.com/petclinic-app:latest
        ports:
        - containerPort: 8080
