name: Java CI
 
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for Sonar
 
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
 
      - name: Build and Test
        run: mvn clean verify
 
      - name: SonarCloud Analysis
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=shubham10849246_petclinic-devops
            -Dsonar.organization=shubham10849246
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
